<?xml version="1.0" encoding="UTF-8"?>
<!-- check log4j2.xml every hour(3600s) -->
<Configuration status="WARN" monitorInterval="3600">
	<properties>
		<property name="LOG_HOME">logs</property>
        <property name="LOG_NAME">imhere-server.log</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5p] %c{36}[%L] - %m%n" />
		</Console>
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${LOG_NAME}" filePattern="${LOG_HOME}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5p] %c{36}[%L] - %m%n" />
            <Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
	<logger name="org.springframework" level="INFO"></logger>
		<logger name="org.apache" level="INFO"></logger>
		<logger name="org.mybatis" level="INFO"></logger>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
